<div class="container-fluid">
  
  <div class="row min-vh-100 bg-100">
    <div class="col-6 d-none d-lg-block position-relative">
      <div class="bg-holder" style="background-image:url(../../../assets/img/generic/I43-5003.png);background-position: 50% 50%;"></div><!--/.bg-holder-->
    </div>
    <div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
      <div class="row justify-content-center g-0">
        <div class="col-lg-9 col-xl-8 col-xxl-6">
          <div class="card">
            <div class="card-header bg-circle-shape bg-shape text-center p-2"><a class="font-sans-serif fw-bolder fs-5 z-1 position-relative link-light" href="/" data-bs-theme="light">ATB Vault</a></div>
            <div class="card-body p-4">
              <div class="row flex-between-center">
                <div class="col-auto">
                  <h3>Login</h3>
                </div>

              </div>
              <form (ngSubmit)="login()">
                <div class="mb-3"><label class="form-label" for="split-login-email">Email address</label><input name="email" class="form-control" [(ngModel)]="email" id="split-login-email" type="email" /></div>
                <div class="mb-3">
                  <div class="d-flex justify-content-between"><label class="form-label" for="split-login-password">Password</label></div><input name="password" [(ngModel)]="password" class="form-control" id="split-login-password" type="password" />
                </div>
                <div class="row flex-between-center">
                  <div class="col-auto">
                    <div class="form-check mb-0"><input class="form-check-input" type="checkbox" id="split-checkbox" /><label class="form-check-label mb-0" for="split-checkbox">Remember me</label></div>
                  </div>
                  <div class="col-auto"><a class="fs-10" href="forgot-password.html">Forgot Password?</a></div>
                </div>
                <div class="mb-3"><button type="submit" class="btn btn-primary d-block w-100 mt-3"  >Log in</button></div>
              </form>
              <div class="position-relative mt-4">
                <hr />
              </div>
              <div class="alert alert-danger border-0 d-flex align-items-center" *ngIf="!success" role="alert">
                <div class="bg-danger me-3 icon-item"><span class="fas fa-times-circle text-white fs-6"></span></div>
                <p class="mb-0 flex-1">{{errorMessage}}</p><button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
