<!-- ===============================================--><!--    Main Content--><!-- ===============================================-->
<main class="main" id="top">
  <div [class]="mainClass" data-layout="container">
    <script>
      var isFluid = JSON.parse(localStorage.getItem('isFluid'));
      if (isFluid) {
        var container = document.querySelector('[data-layout]');
        container.classList.remove('container');
        container.classList.add('container-fluid');
      }
    </script>
    <!-- div navbar    -->
    <div-navbar></div-navbar>
    <router-outlet />

  </div>
</main><!-- ===============================================--><!--    End of Main Content--><!-- ===============================================-->

<div-settings></div-settings>

