<div class="content form">
  <div class="col-xxl-9">
    <div class="row g-0">
      <div class="col-lg-6 pe-lg-2">
        <label >Year</label>
        <select class="form-select" [(ngModel)]="selectedYear" (change)="selectYear($event)" size="1">
          <option value="0"> All</option>
          <option *ngFor="let year of (year$ | async)" [value]="year">{{year}}</option>

        </select>
      </div>
      <div class="col-lg-6 pe-lg-2">
        <label >Month</label>
        <select class="form-select" (change)="selectMonth($event)">
          <option value="0"> All</option>
          <option *ngFor="let month of allMonths" [value]="month">{{month}}</option>

        </select>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-lg-4 pe-lg-2">
        <label >Select a zone</label>
        <select class="form-select"  (change)="selectZone($event)" size="1">
          <option value=""> All</option>
          <option *ngFor="let zone of (zones$ | async)" [value]="zone">{{zone}}</option>

        </select>
      </div>
      <div class="col-lg-4 pe-lg-2">
        <label >Select a branch</label>
        <select class="form-select" [(ngModel)]="selectedBranch"  size="1" [disabled]="!selectedZone">
          <option value="0"> All</option>
          <option *ngFor="let branches of (branches$ | async)" [value]="branches.braIden">{{branches.braCorpName}}</option>

        </select>
      </div>
      <div class="col-lg-4 pe-lg-2" >
        <label >Select a ATM</label>
        <select class="form-select" [(ngModel)]="selectedAtm"  [disabled]="!selectedBranch">
          <option value="0"> All</option>
          <option *ngFor="let atm of (ATM$ | async)" [value]="atm.atmId">{{atm.atmLocation}}</option>

        </select>
      </div>

    </div>
  </div>
  <div class="card bg-body-tertiary dark__bg-opacity-50 my-3">

  </div>
  <div class="">
    <div class="row g-3" >
      <div class="col-xxl-9">
        <div class="card rounded-3 overflow-hidden h-100">
          <div class="card-body bg-line-chart-gradient d-flex flex-column justify-content-between">
            <div class="row align-items-center g-0">
              <div class="col" data-bs-theme="light">
                <h4 class="text-white mb-0">Amount charged: {{totalAmountCharged$ | async}} DT _  {{selectedDate}}</h4>
                <p class="fs-10 fw-semi-bold text-white">Yesterday <span class="opacity-50">$684.87</span></p>
              </div>
              <div class="col-auto d-none d-sm-block">
                  <select class="form-select form-select-sm mb-3" id="dashboard-chart-select">
                    <option value="totalAmountCharged">Total Amount Charged</option>
                    <option value="totalAmountDistributed" selected="selected">Total Amount Distributed</option>
                    <option value="totalAmountDischarged">Total Amount Discharged</option>
                    <option value="dischargedPercentage">Discharged Percentage</option>
                  </select>
              </div>
            </div>
            <!--TODO: app chart here-->
            <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
          </div>
        </div>
      </div>

    </div>
    <div class="row g-3 mb-3">
      <div class="col-xxl-9">
        <div class="card bg-body-tertiary dark__bg-opacity-50 my-3">

        </div>
        <div class="row g-3 mb-3">
          <div class="col-sm-6 col-md-4">
            <div class="card overflow-hidden" style="min-width: 12rem;height: 100%">
              <div class="bg-holder bg-card" style="background-image:url(../assets/img/icons/spot-illustrations/corner-1.png);"></div><!--/.bg-holder-->
              <div class="card-body position-relative">
                <h6>Total Amount Charged</h6>
                <div class="display-4 fs-5 mb-2 fw-normal font-sans-serif text-info" data-countup='{"endValue":58.386,"decimalPlaces":2,"suffix":"k"}'>2,26 Md</div>
                <div class="fw-semi-bold fs-10 text-nowrap" href="../app/e-commerce/customers.html">Total Amount Distributed : 1,85 Md<span class="badge badge-subtle-info rounded-pill ms-2">81.85%</span></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card overflow-hidden" style="min-width: 12rem; height: 100%">
              <div class="bg-holder bg-card" style="background-image:url(../assets/img/icons/spot-illustrations/corner-2.png);"></div><!--/.bg-holder-->
              <div class="card-body position-relative">
                <h6>Total Amount Discharged</h6>
                <div class="display-4 fs-5 mb-2 fw-normal font-sans-serif  text-warning" data-countup='{"endValue":23.434,"decimalPlaces":2,"suffix":"k"}'>404.59 M</div><div class="fw-semi-bold fs-10 text-nowrap" href="../app/e-commerce/orders/order-list.html"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card overflow-hidden" style="min-width: 12rem;height: 100%">
              <div class="bg-holder bg-card" style="background-image:url(../assets/img/icons/spot-illustrations/corner-3.png);"></div><!--/.bg-holder-->
              <div class="card-body position-relative">
                <h6>Discharged Percentage</h6>
                <div class="display-4 fs-5 mb-2 fw-normal font-sans-serif" data-countup='{"endValue":43594,"prefix":"$"}'>17%</div>

              </div>
            </div>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-12">
            <div class="card h-100">
              <div class="card-header">
                <div class="row flex-between-center">
                  <div class="col-auto">
                    <h6 class="mb-2">Top 5 Agences (Total Charged Amount)</h6>
                  </div>
                  <div class="col-auto d-none d-sm-block">
                    <select class="form-select form-select-sm mb-3" id="dashboard-chart-select">
                      <option value="totalAmountCharged">Total Amount Charged</option>
                      <option value="totalAmountDistributed" selected="selected">Total Amount Distributed</option>
                      <option value="totalAmountDischarged">Total Amount Discharged</option>
                      <option value="dischargedPercentage">Discharged Percentage</option>
                    </select>
                  </div>

                </div>
              </div>
              <div class="table-responsive scrollbar">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Agency Name</th>
                    <th scope="col">Amount</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Bizert</td>
                    <td>38 752 160</td>

                  </tr>
                  <tr>
                    <td>Bureau Jerba Mednin</td>
                    <td>38 752 160</td>
                  </tr>
                  <tr>
                    <td>Caisse Centrale</td>
                    <td>38 752 160</td>
                  </tr>
                  <tr>
                    <td>Fouchana</td>
                    <td>38 752 160</td>
                  </tr>
                  <tr>
                    <td>Jerba</td>
                    <td>38 752 160</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>

  </div>


  <div-footer></div-footer>

</div>
