<div class="content form">

  <app-filter
  (selectionChanged)="onSelectionChanged($event)"
  ></app-filter>
  <div class="">
    <div class="row g-3" >
      <div class="col-xxl-9">
        <div class="card rounded-3 overflow-hidden h-100">
          <div class="card-body bg-line-chart-gradient d-flex flex-column justify-content-between">
            <div class="row align-items-center g-0">
              <div class="col" data-bs-theme="light">
                <h4 class="text-white">{{chartType | prettyLabel}}</h4>
              </div>
              <div class="col-auto d-none d-sm-block">
                  <select class="form-select form-select-sm mb-3" [(ngModel)]="chartType" (change)="chartTypeChanged($event)" id="dashboard-chart-select">
                    <option value="totalAmountCharged" selected="selected">Total Amount Charged</option>
                    <option value="totalAmountDistributed" >Total Amount Distributed</option>
                    <option value="totalAmountDecharged">Total Amount Decharged</option>
                  
                  </select>
              </div>
            </div>
            <!--TODO: app chart here-->
            <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
          </div>
        </div>
      </div>

    </div>
    <div class="row g-3 mb-3">
      <div class="col-xxl-9">
        <div class="card bg-body-tertiary dark__bg-opacity-50 my-3">

        </div>
        <div class="row g-3 mb-3">
          <div class="col-sm-6 col-md-4">
            <div class="card overflow-hidden" style="min-width: 12rem;height: 100%">
              <div class="bg-holder bg-card" style="background-image:url(../assets/img/icons/spot-illustrations/corner-1.png);"></div><!--/.bg-holder-->
              <div class="card-body position-relative">
                <h6>Total Amount Charged</h6>
                <div class="display-4 fs-5 mb-2 fw-normal font-sans-serif text-info" data-countup='{"endValue":2260,"decimalPlaces":2,"suffix":"M"}'>{{((totalAmounts$ | async)?.totalAmountCharged  / 1000000) | number:'1.0-0' }} M</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card overflow-hidden" style="min-width: 12rem; height: 100%">
              <div class="bg-holder bg-card" style="background-image:url(../assets/img/icons/spot-illustrations/corner-2.png);"></div><!--/.bg-holder-->
              <div class="card-body position-relative">
                <h6>Total Amount Distributed</h6>
                <div class="display-4 fs-5 mb-2 fw-normal font-sans-serif  text-warning" >{{((totalAmounts$ | async)?.totalAmountDistributed / 1000000) | number:'1.0-0'  }} M</div><div class="fw-semi-bold fs-10 text-nowrap" href="../app/e-commerce/orders/order-list.html"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card overflow-hidden" style="min-width: 12rem;height: 100%">
              <div class="bg-holder bg-card" style="background-image:url(../assets/img/icons/spot-illustrations/corner-3.png);"></div><!--/.bg-holder-->
              <div class="card-body position-relative">
                <h6>Decharged Percentage</h6>
                <div class="display-4 fs-5 mb-2 fw-normal font-sans-serif" data-countup='{"endValue":17,"prefix":"%"}'>{{(((totalAmounts$ | async)?.totalAmountDistributed / (totalAmounts$ | async)?.totalAmountCharged ) * 100) |  number:'1.2-2' }}%</div>

              </div>
            </div>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-12">
            <div class="card h-100">
              <div class="card-header">
                <div class="row flex-between-center">
                  <div class="col-auto">
                    <h6 class="mb-2">Top 5 Agencies (Total Charged Amount)</h6>
                  </div>
                  <div class="col-auto d-none d-sm-block">
                    <select class="form-select form-select-sm mb-3" [(ngModel)]="topAgencyFilter" (change)="topAgencyFilterChanged($event)" id="dashboard-chart-select">
                      <option value="totalAmountCharged" selected="selected">Total Amount Charged</option>
                      <option value="totalAmountDistributed" >Total Amount Distributed</option>
                      <option value="totalAmountDecharged">Total Amount Decharged</option>
                     
                    </select>
                  </div>

                </div>
              </div>
              <div class="table-responsive scrollbar">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Agency Name</th>
                    <th scope="col">Amount</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let agency of (topAgency$ | async)">
                    
                    <td>{{agency.braCorpName}}</td>
                    <td>{{(agency.amount / 1000) | number:'1.0-0'}}</td>

                  </tr>
                  
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>

  </div>


  <div-footer></div-footer>

</div>
